html, body {
    background-color: #202020;
    margin: 0;
    padding: 0;
}

.container { 
    margin: 0;
    padding-top: 4vh; /* for sticky nav bar */
    background-color: #202020;
}

.section{
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2em;
    padding-bottom:2em;
    min-height: 30vh;
}

.section.short {
    min-height: 20vh;
}


/* ---------- nav and footer ---------- */
nav {
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    width: 100vw;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    min-height: 4vh;
}

nav a {
    text-align: center;
    padding: 15px 30px 10px;
    text-decoration: none;
    font-size: 1em;
    color: whitesmoke;
}

.nav-right {
    float: right;
    overflow: hidden;
    max-width: 50vw;
}

.nav-right a {
    display: inline-block;
}

.nav-right a:hover {
    text-decoration: none;
    background-color: grey;
}

nav a.nav-curr {
    text-decoration: none;
    background-color:  #3BBA9C; /*lightgrey;*/
    color: black;
    font-weight: bold;
    pointer-events: none;
}

.nav-left, .nav-left:hover {
    padding: 5px 30px;
    float: left;
    font-size: 2.1em;
    font-weight: bold;
    font-family:'Playfair Display', 'serif';
    background-color: #202020;
    text-decoration: none;
}

/* when mobile or small window, create side bar */
@media screen and (max-width: 600px) {
    nav a, .nav-left, .nav-right {
        display: inline-block;
        float:none;
      max-width: 100vw;
      width: 100vw;
    }
 }

footer {
    font-size: .8em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    margin-block-start:0px;
    margin-block-end:0px;
}
footer ul li {
    display: inline-block;
    padding: 10px 20px;
}

/* ---------- general ---------- */
h1, h2, h3, p {
    margin-block-start:0px;
    margin-block-end:0px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
h1 {
    font-size: 5em;
    font-family:'Playfair Display', 'serif';
}

h2 {
    font-size: 2.5em;
    font-family:'Playfair Display', 'serif';
    text-align: center;
}

h3 {
    font-size: 1.8em;
    font-family:'Playfair Display', 'serif';
}

p, li {
    font-size: 1em;
    font-family: Courier, monospace;
    line-height: 1.1em;
}

.notice {
    color: rgb(219, 144, 4);
    font-weight: bold;
}

/* ---------- interactive ----------*/
a {
    font-size: 1.1em;
    font-family: Courier, monospace;
    line-height: 1.1em;
    text-decoration: none;
    color:darkgray;
}

a:hover {
    text-decoration: underline;
}

button, button a, button {
    font-family: Courier, monospace;
    line-height: 1.1em;
    padding: 10px;
    background-color: #3BBA9C; /* rgb(228, 91, 98);*/
    border-color: #3BBA9C; /* rgb(228, 91, 98);*/
    color: #fcfcfc;
    margin: 20px;
    border-radius: 8px;
}

button:hover, button:hover a {
    background-color: darkgray;
    border-color: darkgray;
    text-decoration: none;
}

/* "Contact" icons*/
a:hover.icon-link {
    text-decoration: none;
  }

img.icon {
   /* border: 1px solid #ddd; */
    border-radius: 50%;
    padding: 5px;
    width: 50px;
}
  
img:hover.icon-link{
    box-shadow: 0 0 5px 5px  #3BBA9C;
}


/* ---------- SPECIFIC SECTIONS ----------*/

.helen {
    padding-top: 40vh;
}
.home-edu, .mcgill {
    text-align: right;
    background-image: url("/images/mcgill.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;  
}
   /* TODO: side by side div */
.home-skills, .home-contact, .awards, .courses, .research, .internships {
    text-align: center;
    list-style: none;
   /* width: 30%;
    display: flex-block; */
}

.comp-vis, .emb-sys, .other, .contact{
    text-align: center;
}

/*
.awards {
    float: left;
}
.courses{
    float: right;
}
*/

/* ---------- Colour Themes ----------*/

/*TODO: revert colour at end*/
.thm-light {
    background-color: #fcfcfc;
    color: #202020;
}

.thm-med {
    background-color: #707793;
    color: #202020;
}

.thm-dark, p.thm-dark {
    background-color: #2E3047;
    color: whitesmoke;
}

.thm-black, p.thm-black {
    background-color: #202020;
    color: whitesmoke;
}



/* ---------- Images ---------- */
