---
layout: default
title: HL Projects
---


<div class="section short thm-light wip">
  <br>
  <br>
    <img class="icon" src="assets/images/importance-icon.png">
  <p class="notice">
    This page is a WORK-IN-PROGRESS. <br>
    Please check back soon for more details about my work!
  </p>
</div>

<div class="section thm-dark projects">
  <br>
  <br>
  <h2>Projects</h2>
  <hr>

  <!-- filters  -->
  <div id="filterButtons">
    <button class="projects-btn curr" onclick="filterProjects('all')"> Show all</button>

    {% for item in site.data.projects.categories %}
    <button class="projects-btn" onclick="filterProjects('{{item.id | downcase}}')"> {{item.name}}</button>
    {% endfor %}
  </div>

  <!-- project cards -->
  <div class="projects-row">

    {% for item in site.data.projects.projects %}
    <div class="projects-column {{ item.categories }}">
      <div class="projects-card">
        <img src="{{ item.image }}" alt="{{ item.name }}" style="width:100%">
        <h4>{{ item.name }}</h4>
        <p>{{ item.description }}</p>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

<script src="assets/js/projects.js"></script>